# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out

# Build directories
build/
bin/
cmake-build-debug/

# IDE and editor files
.vscode/
.idea/
*.sln
*.vcxproj
*.xcodeproj

# Dependency directories
lib/
vendor/

# Miscellaneous
.DS_Store
Thumbs.db

/external/*
!/external
